{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage --hehe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        plugins: [
          // ...
          require("@tailwindcss/forms"),
        ],
      };
    </script>
  </head>
  <body>
    {% for question in questions %}
      
    <div class="block">
      <div class="card">
          <div class="card-content">
          <div class="media">
              <div class="media-content">
                <p>
                    {{ question }}
                </p>
              </div>
          </div>
          </div>
      </div>
    </div>
  
    {% endfor %}
    <!-- {% for answer in answers %}
      
    <div class="block">
      <div class="card">
          <div class="card-content">
          <div class="media">
              <div class="media-content">
                <p>
                    {{ answer}}
                </p>
              </div>
          </div>
          </div>
      </div>
    </div>
  
    {% endfor %} -->
    
    

  </body>
</html>