{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Details Page</title>
    <meta
      name="description"
      content="Katen - Minimal Blog & Magazine HTML Theme"
    />

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

    <!-- STYLES -->
    <link rel="stylesheet" href="{% static 'core/assets/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://themeger.shop/html/katen/html/css/bootstrap.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="https://themeger.shop/html/katen/html/css/all.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="https://themeger.shop/html/katen/html/css/slick.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="https://themeger.shop/html/katen/html/css/simple-line-icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="https://themeger.shop/html/katen/html/css/style.css"
      type="text/css"
      media="all"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">
          <i class="nav__logo-icon"></i>AI Hackathon
        </a>

        <div class="nav__btns">
          <!-- Theme change button -->
          <!-- <i class="ri-moon-line change-theme" id="theme-button"></i> -->

          <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line"></i>
          </div>
        </div>
      </nav>
    </header>
    <!-- section main content -->
    <section class="main-content home">
      <div class="container-xl">
        <div class="row gy-4">
          <div class="col-lg-8">
            <div class="page-content bordered rounded padding-30">
              <img
                src="https://themeger.shop/html/katen/html/images/other/about.jpg"
                alt="Katen Doe"
                class="rounded mb-4"
              />

              <p>
                Hello, I’m a content writer who is fascinated by content
                fashion, celebrity and lifestyle. She helps clients bring the
                right content to the right people.
              </p>

              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth.
              </p>

              <p>
                Even the all-powerful Pointing has no control about the blind
                texts it is an almost unorthographic life One day however a
                small line of blind text by the name of Lorem Ipsum decided to
                leave for the far World of Grammar.
              </p>

              <p>
                The Big Oxmox advised her not to do so, because there were
                thousands of bad Commas, wild Question Marks and devious
                Semikoli, but the Little Blind Text didn’t listen. She packed
                her seven versalia, put her initial into the belt and made
                herself on the way.
              </p>

              <hr class="my-4" />
              <ul class="social-icons list-unstyled list-inline mb-0">
                <li class="list-inline-item">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="fab fa-pinterest"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="fab fa-medium"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
	   <!--=============== SCROLL UP ===============-->
	   <a href="#" class="scrollup" id="scroll-up">
		<i class="ri-arrow-up-fill scrollup__icon"></i>
	</a>
	<!--=============== SCROLL REVEAL ===============-->
	<script src="{% static 'core/assets/js/scrollreveal.min.js' %}"></script>
 
	<!--=============== MAIN JS ===============-->
	<script src="{% static 'core/assets/js/main.js' %}"></script>

    <!-- JAVA SCRIPTS -->
    <script src="https://themeger.shop/html/katen/html/js/jquery.min.js"></script>
    <script src="https://themeger.shop/html/katen/html/js/popper.min.js"></script>
    <script src="https://themeger.shop/html/katen/html/js/bootstrap.min.js"></script>
    <script src="https://themeger.shop/html/katen/html/js/slick.min.js"></script>
    <script src="https://themeger.shop/html/katen/html/js/jquery.sticky-sidebar.min.js"></script>
    <script src="https://themeger.shop/html/katen/html/js/custom.js"></script>
  </body>
</html>
